---
layout: default
---

<div class='container-fluid'>
  <div class='row align-items-stretch'>
    <div class='col-md d-md-flex justify-content-end'>
      <div class='container-half'>
        <div class="home-me padding-top-base-2">
          <h1 class="home-me-title text-primary">Victor Mier</h1>
        </div>
      </div>
    </div>
    <div class='col-md d-md-flex justify-content-start light-bg'>
      <div class='container-half'>
      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row align-items-stretch'>
    <div class='col-md d-md-flex justify-content-end'>
      <div class='container-half padding-top-base-2 margin-bottom-base'>
        <div class='small-title mb-5 font-weight-bold'>Digital product developer</div>
        <div class='home-section-description mb-5'>I approach my work on digital products (web apps, mobile apps) from a holistic perspective. Putting the user in the middle of the process but also taking business problems into account. I work on ideation, prototyping, design and full stack development.</div>
        <div class='small-title text-small mb-3'>Now</div>
        <div class='mb-5'>
          {% include project.html
                     name="Sam"
                     role="Freelance"
                     description="Full stack development. Backend, mobile. React Native, Rails."
                     url="https://meetsam.io"
                     location="Barcelona, remote"
          %}
        </div>

        <div class='small-title text-small mb-3'>Previously</div>
        <div class='mb-5'>
          {% include project.html
                     name="Liquid"
                     role="Co-founder"
                     description="Technical lead. Product design. Mobile-first web app. React, Graphql, Ruby."
                     url="https://meetsam.io"
                     location="Remote"
          %}

          {% include project.html
                     name="Maxwell"
                     role="Freelance"
                     description="Full stack development. Web app. Rails."
                     url="https://himaxwell.com"
                     location="Denver, CO, remote"
          %}

          {% include project.html
                     name="Movemate"
                     role="Founder"
                     description="Product management. Ideation, prototyping, design, backend development."
                     url="http://jordifierro.com/movemate"
                     url_text="It didn't work out."
                     location="Remote"
          %}

          {% include project.html
                     name="Bright Funds"
                     role="Full time for 2 years"
                     description="Product development. Ideation, prototyping, design, development. Full stack. Rails."
                     url="https://www.brightfunds.org/"
                     location="San Francisco, CA, remote"
          %}

          {% include project.html
                     name="Itnig"
                     role="Full time for 1 year"
                     description="Full stack development. Product design. Rails."
                     url="https://www.itnig.net"
                     location="Barcelona"
          %}
        </div>
        <div class='media text-centered'>
          <a href="https://github.com/victormier" class='mx-2'>
            <i class="fa fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/vmier/" class='mx-2'>
            <i class="fa fa-linkedin-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class='col-md d-md-flex justify-content-start light-bg'>
      <div class='container-half container-half-right padding-top-base-2 margin-bottom-base'>
        <div class='small-title mb-5 font-weight-bold'>Runner<span class='px-2'>|</span>Surfer<span class='px-2'>|</span>Drifter</div>
        <div class='home-section-description mb-5'>I travel oceans and mountains, mostly in a camper van. I also compete in mountain running races internationally at an elite level...but just for fun!</div>
        <div class='small-title text-small mb-3'>Running</div>
        <div class='small-title mb-3 text-primary'>2018</div>
        <p class='text-small mb-5'>
          15/09 - Rialp Matxicots (Catalunya) 60km 5000m+ <span class="badge badge-secondary">Upcoming</span>
          <br />
          <span class='crossed-out'>26/08 - Trofeo Kima (Italy) 52km 4200m+ <span class="badge badge-primary">Skyrunning World Series</span></span> Injury
          <br />
          01/07 - Buff Epic Trail (Catalunya) 42km 3300m+ <span class="badge badge-primary">Skyrunning World Series</span> <span class='font-weight-bold'>19th.</span>
          <br />
          09/06 - Travesera Integral Picos de Europa (Asturias) 74km 6500m+ <span class='font-weight-bold'>5th.</span>
          <br />
          27/05 - Zegama-Aizkorri (Euskadi) 42km 3200m+ <span class="badge badge-primary">Skyrunning World Series</span><span class='font-weight-bold'> 68th</span>👎
        </p>
        <div class='small-title text-small mb-3'>Drifting</div>
        <p class='text-small'><span class='crossed-out'>Full time</span> Part time drifter <a href="https://www.instagram.com/foreign__natives/" target="_blank">@foreign natives</a> with <a href="https://www.instagram.com/evablanes/" target="_blank">@evablanes</a>. Check out our <a href="https://www.foreignnatives.co/" target="_blank">blog!</a>.</p>
        <div class='container-fluid instagram-feed-container'><div id="instagram-feed" class='row'></div></div>
      </div>
    </div>
  </div>
</div>
