---
layout: default
---

<div class='container-fluid'>
  <div class='row align-items-stretch'>
    <div class='col-md d-md-flex justify-content-end'>
      <div class='container-half'>
        <div class="home-me padding-top-base-2">
          <h1 class="home-me-title text-primary">Victor Mier</h1>
        </div>
      </div>
    </div>
    <div class='col-md d-md-flex justify-content-start light-bg'>
      <div class='container-half'>
      </div>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row align-items-stretch'>
    <div class='col-md d-md-flex justify-content-end'>
      <div class='container-half padding-top-base-2 margin-bottom-base'>
        <div class='small-title mb-5 font-weight-bold'>Digital product developer</div>
        <div class='home-section-description mb-5'>I help businesses bring digital products to market successfully. I approach product development from a holistic perspective, putting the focus on the user, but also taking business problems into account. I work on ideation, prototyping, design, full stack development and product management.</div>
        <div class='small-title text-small mb-3'>Now</div>
        <div class='mb-5'>
          {% include project.html
                     name="Sam"
                     role="Full stack developer"
                     description="Full stack development. Product management. Backend, mobile. React Native, Rails."
                     url="https://meetsam.io"
                     location="Barcelona, remote"
          %}
        </div>

        <div class='small-title text-small mb-3'>Previously</div>
        <div class='mb-5'>
          {% include project.html
                     name="Liquid"
                     role="Co-founder"
                     description="Technical lead. Product development. Mobile-first web app. React, Graphql, Ruby."
                     url="https://www.helloliquid.com"
                     url_text="It didn't work out."
                     location="Remote"
          %}

          {% include project.html
                     name="Maxwell"
                     role="Freelance"
                     description="Full stack development. Web app. Rails."
                     url="https://himaxwell.com"
                     location="Denver, CO, remote"
          %}

          {% include project.html
                     name="Movemate"
                     role="Founder"
                     description="Product management. Ideation, prototyping, design, backend development."
                     url="https://jordifierro.com/movemate"
                     url_text="It didn't work out."
                     location="Remote"
          %}

          {% include project.html
                     name="Bright Funds"
                     role="Full time for 2 years"
                     description="Product development. Ideation, prototyping, design, development. Full stack. Rails."
                     url="https://www.brightfunds.org"
                     location="San Francisco, CA"
          %}

          {% include project.html
                     name="Itnig"
                     role="Full time for 1 year"
                     description="Full stack development. Product design. Rails."
                     url="https://www.itnig.net"
                     location="Barcelona"
          %}
        </div>
        <div class='media d-flex justify-content-center'>
          <a href="https://github.com/victormier" class='mx-2'>
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/vmier/" class='mx-2'>
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <div class='col-md d-md-flex justify-content-start light-bg'>
      <div class='container-half container-half-right padding-top-base-2 margin-bottom-base'>
        <div class='small-title mb-5 font-weight-bold'>Elite Trail Runner<span class='px-2'>|</span>Surfer<span class='px-2'>|</span>Drifter</div>
        <div class='home-section-description mb-5'>I travel oceans and mountains, mostly in a camper van. I also compete in mountain running races internationally at an elite level...but just for fun!</div>
        <div class='home-main-block-image mb-5'>
          <img src="{{site.baseurl}}/assets/img/zegama.jpg">
        </div>
        <div class='small-title text-small mb-3'>Running</div>
        <div class='mb-2 text-small'>
          ITRA points: 854 &nbsp;<a href='https://itra.run/community/victor.mier/568625/7102' target='_blank'>more here</a>
        </div>
        <div class='small-title mb-3 text-primary'>2020</div>
        <p class='text-small mb-5'>
          10/02 Mitja Marató Barcelona <span class='font-weight-bold'>1:10:37</span>
          <br />
          08/03 Trail Costa Brava (Catalunya) 43km 1800m+ <span class='font-weight-bold'>1st</span>🎉
          <br />
          04/07 Carros de Foc FKT Attempt (Catalunya) 65km 4500m+ <span class='font-weight-bold'>10:14 (FKT is 9:27)</span>
          <br />
          03/10 Ultra Pirineu (Bagà, Catalunya) 94km 6200m+
        </p>
        <div class='small-title mb-3 text-primary'>2019</div>
        <p class='text-small mb-5'>
          10/02 Mitja Marató Barcelona <span class='font-weight-bold'>1:12:28</span>
          <br />
          10/03 Marató de Barcelona <span class='font-weight-bold'>2:36</span>
          <br />
          07/04 Trail Cap de Creus (Catalunya) 23km 1200m+ <span class="badge badge-warning">Golden Trail Series</span><span class='font-weight-bold'>4th</span>
          <br />
          4/05 Trail de Cuera (Asturias) 26km 1950m+
          <br />
          12/05 Trail RAE Otañes (Cantabria) 34km 2300m+ <span class="badge badge-primary">Cto. España FEDME</span><span class='font-weight-bold'> 45th</span>👎
          <br />
          02/06 Zegama-Aizkorri (Euskadi) 42km 3200m+ <span class="badge badge-warning">Golden Trail Series</span> <span class='font-weight-bold'> 4:38 | 43th</span>
          <br />
          15/06 Travesera Integral Picos de Europa (Asturias) 74km 6500m+<span class='font-weight-bold'> 2nd</span>🎉
          <br />
          04/08 Subida al Picu Benzúa (Asturias) 7km 550m+<span class='font-weight-bold'> 1st</span>🎉
          <br />
          30/08 CCC (UTMB) (Chamonix) 101km 6100m+<span class='font-weight-bold'> DNF</span>👎
          <br />
          05/10 Ultra Pirineu (Bagà, Catalunya) 94km 6200m+<span class='font-weight-bold'> 4th</span>🎉
          <br />
          31/12 Cursa dels Nassos (Barcelona) 10km<span class='font-weight-bold'> 32:17</span>
        </p>
        <div class='small-title mb-3 text-primary'>2018</div>
        <p class='text-small mb-5'>
          27/05 Zegama-Aizkorri (Euskadi) 42km 3200m+ <span class="badge badge-primary">Skyrunning World Series</span><span class='font-weight-bold'> 68th</span>👎
          <br />
          09/06 Travesera Integral Picos de Europa (Asturias) 74km 6500m+ <span class='font-weight-bold'>5th.</span>
          <br />
          01/07 Buff Epic Trail (Catalunya) 42km 3300m+ <span class="badge badge-primary">Skyrunning World Series</span> <span class='font-weight-bold'>19th.</span>
          <br />
          <span class='crossed-out'>26/08 Trofeo Kima (Italy) 52km 4200m+ <span class="badge badge-primary">Skyrunning World Series</span></span> Injury
          <br />
          <span class='crossed-out'>15/09 Rialp Matxicots (Catalunya) 60km 5000m+</span> Injury
        </p>

        <div class='small-title text-small mb-3'>Drifting</div>
        <p class='text-small'><span class='crossed-out'>Full time</span> Part time drifter <a href="https://www.instagram.com/foreign__natives/" target="_blank">@foreign natives</a> with <a href="https://www.instagram.com/evablanes/" target="_blank">@evablanes</a>. Check out our <a href="https://www.foreignnatives.co/" target="_blank">blog!</a>.</p>
        <div class='container-fluid instagram-feed-container mb-5'><div id="instagram-feed" class='row'></div></div>
        <div class='media d-flex justify-content-center'>
          <a href="https://www.strava.com/athletes/2816630" class='mx-2'>
            <i class="fab fa-strava"></i>
          </a>
          <a href="https://www.instagram.com/victormier/" class='mx-2'>
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://twitter.com/victormier" class='mx-2'>
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
