<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>

    {{ content }}

    {% include footer.html %}

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
    <script type="text/javascript">
      $.get( "https://api.instagram.com/v1/users/self/media/recent/?access_token=1784108573.273cd75.ad22e7d0b0aa4912aa13c49e220007d7", function(result) {
        result.data.slice(0,5).forEach(function(elem) {
          $('#instagram-feed').append("<div class='instagram-feed-image col'><a href='"+elem.link+"' target='_blank'><img src='"+elem.images.thumbnail.url+"' /></a></div>");
        })
      });
    </script>
  </body>
</html>
